@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:none;
    font-family: "Playfair Display", serif;
}
html,body
{
    height:100%;
    width: 100%;
}
div
{
    background-color: #a1aeb1;
  height: 100%;
    color: aliceblue;
}
div .navi 
{
    
    background-color: #676765;
    border-style: inset;
    display: flex;
    flex-direction:row;
}
div .navi h2
{
    color: aliceblue;
    font-size:40px;
   padding-left:580px;
}
div .navi button
{
    margin-left: 400px;
    font-size: 20px;
    font-weight: bold;
    padding-left:20px;
    padding-right:20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #a1aeb1;
    border-radius: 5px;
    border-color: #676765;
}
div form
{
   background-color: #a1aeb1; 
}
div form #text
{
    margin-left:30px;
    font-size:20px;
    font-weight: bold;

}
div form  #text li input
{  
    margin-bottom:20px;
    width: 400px;
    
    height:30px;
    border-style: double;
    border-color:aliceblue ;
    background-color: #a1aeb1;
    outline-style: groove;
   outline-color:#676765 ;
   }
div form #Radio
{ 
    margin-left: 30px;
    outline-style: none;
    font-size:20px;
    font-weight: bold;
}
div form #check
{
    margin-left: 30px;
    font-size:20px;
    font-weight: bold;
}
div form #check li input
{
    border-style: double;
    border-color:aliceblue ;
    outline-style: groove;
   outline-color:#676765;
   background-color: #a1aeb1;
}
div form button
{
   color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    border-color:#676765;
    background-color:#676765;
    margin-left: 30px;
    cursor: pointer;
}

